/* About Us */

.about_us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 10rem 0;
	background-color: white;

	& .about_us_container {
		width: 80%;

		& .aboutTitle {
			font-size: 4rem;
			margin-bottom: 2rem;
		}

		& .contentContainer {
			& .special_item {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: column;
				font-size: 1.6rem;
				font-weight: lighter;

				& .special_text {
					font-size: 2rem;
					margin-bottom: 1rem;
					color: var(--color_brand1);
				}
			}

			& .content_item {
				font-size: 1.6rem;
				font-weight: lighter;
			}
		}
	}
}

.contentContainer {
	display: grid;
	grid-template: 'a' 'b' 'c';
	gap: 2rem;
}

@media (--medium) {
	.contentContainer {
		display: grid;
		grid-template: 'a b c';
	}
}
