/* Animations */


/* Headroom */

.headroom-wrapper{
	position: fixed;
	z-index: 9999;
	width: 100%;
}

.headroom {
	top: 0;
	left: 0;
	right: 0;
	transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
	transform: translateY(-100%);
  }
  .headroom--pinned {
	transform: translateY(0%);
  }
