/* basics */

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

figure {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0px 10%;
	padding: 1rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
