/* Conctact */

#Contact {
	background-color: white;
}

.contact_container {
	align-items: flex-start;
}

.container_item {
	width: 100%;
	padding: 2rem;
}

.contact_title {
	text-align: left;
}

.rectangle {
	width: 15rem;
	height: 1rem;
	margin-bottom: 1rem;
	background-color: var(--color_brand1);
}

.contact_subtitle {
	text-align: left;
}

.contact_form {
	display: flex;
	flex-direction: column;
}

.form_item {
	margin: 1rem 0rem;
	border: 1px solid black;
}

.field {
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	padding: 1rem;
	margin: 1rem 0rem;
	width: 100%;
	resize: none;
}

.form_btn {
	border: none;
	background-color: var(--color_brand1);
	color: white;
	display: inline-block;
	letter-spacing: 0.2rem;
	font-weight: normal;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
	width: 100%;
}
