/* Contact */

.container_item {
	width: 100%;
	padding: 2rem;
}

.reset_margin_bot {
	margin-bottom: 0rem !important;
}

.form_item {
	margin: 1rem 0rem;
}

.icons_container {
	margin-top: 4rem;
	flex-wrap: wrap;
}

.flex-d-responsive {
	flex-direction: column;
}

.rectangle {
	width: 10rem;
	height: 0.5rem;
	background-color: var(--color_brand1);
	margin: 2rem 0rem 3rem 0rem;
}

.contact_content {
	font-size: 1.8rem;
}

.icon_item {
	width: 150px;
	margin: 1.5rem;
}

.icon {
	font-size: 3rem;
	margin-right: 1rem;
}

.icon_text {
	font-size: 1.2rem;
}

@media (--large) {
	.flex-d-responsive {
		flex-direction: row;
	}

	.rectangle {
		width: 15rem;
		height: 0.5rem;
		background-color: var(--color_brand1);
		margin: 2rem 0rem 3rem 0rem;
	}

	.contact_content {
		font-size: 2rem;
	}

	.icon {
		font-size: 3rem;
		margin-right: 1rem;
	}

	.icon_text {
		font-size: 1.4rem;
	}
}
