/* Exlusive content */

.exclusive_content {
	display: flex;
	justify-content: space-between;
	background-color: var(--color_white);
	padding: 10rem 0;
	& .exclusive_content_leftWrapper {
		width: 70%;

		& h2 {
			font-size: 2.5rem;
			margin-bottom: 1em;
		}

		& p {
			font-size: 1.4rem;
			margin-bottom: 2rem;
		}
	}
	& img {
		width: 25%;
	}
}

@media (--medium) {
	.exclusive_content {
		& .exclusive_content_leftWrapper {
			width: 100%;
		}
		& img {
			display: block;
			margin-left: 4rem;
		}
	}
}

@media (--small) {
	.exclusive_content {
		& .exclusive_content_leftWrapper {
			width: 100%;
		}
		& img {
			display: none;
		}
	}
}

.exclusive_container {
	padding: 0 10%;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	flex-shrink: inherit;
	width: 100%;
	height: 100%;
}
