/* Header */

.main_nav{
	position: fixed;
	right: 10%;
	top: 0;
}

.header {
	background-color: black;
	height: 7rem;
}

.logo {
	width: 17.5rem;
}

.nav {
	list-style: none;
	font-size: 1.6rem;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 7rem;
}

.navItem {
	margin: 0rem 4rem 0rem 0rem;
}

.link {
	text-decoration: none;
	color: white;
	width: 100%;
	position: relative;
	font-size: 1.6rem;
}

@media (--small) {
	nav {
		position: fixed;
		z-index: 0;
		left: 0;
		right: 0;
		top: 0;
		transform: translateY(7rem);
		transition: 450ms all;
		background-color: var(--color_grayScale5);
		border-bottom: 0.1rem solid var(--color_grayScale4);
		height: 0rem;
		overflow: hidden;
	}
	
	.nav {
		line-height: initial;
		padding: 2rem 10%;
		flex-direction: column;
		margin: 0;
		justify-content: space-around;
		align-items: center;
		height: 100%;
	}

	.navItem {
		margin: 0;
		padding-bottom: 2rem;
	}

	.hamburger_bar {
		display: block;
		color: var(--color_white);
		font-size: 3rem;
		position: fixed;
		right: 10%;
		top: 0;
		line-height: 7rem;
		z-index: 9999;
		cursor: pointer;
	}
}

@media (--medium) {
	.hamburger_bar {
		display: none;
	}
}
