/* Newsletter */

.nl_description {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.nl_input {
	width: 60%;
}

.nl_btn {
	width: 40%;
}

.simple_advice {
	font-size: 1.4rem;
	margin-top: 1rem;
}

@media (--medium) {
	.nl_description {
		font-size: 2rem;
		width: 80%;
	}

	.nl_form {
		width: 80%;
	}

	.nl_input {
		width: 70%;
	}

	.nl_btn {
		width: 30%;
	}
}
