/* Newsletter */

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
    background-color: var(--color_opacity);

    & h2{
        @apply --h2_style;
        margin-bottom: 2rem;
    }

    & .newsletter_form{
        width: 80%;
        & .newsletter_emailInput{
            padding: .8rem 1.5rem;
            border: none;
            font-size: 1.4rem;
            width: 80%;
        }

        & .newsletter_btn{
            border: none;
            background-color: var(--color_brand1);
            color: white;
            display: inline-block;
            height: 3.2rem;
            letter-spacing: .2rem;
            font-weight: normal;
            width: 20%;
        }
    }
}