/* Newsletter */

.newsletter {
	width: 100%;
	height: 50vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.newsletter_container {
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.newsletter_title_container {
	height: 30%;
}

.newsletter_title {
	color: white;
	font-size: 3.5rem;
}

.newsletter_form_container {
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.newsletter_form {
	width: 100%;
}

.newsletter_emailInput {
	padding: 0.8rem 1.5rem;
	border: none;
	font-size: 2rem;
	width: 60%;
}

.newsletter_btn {
	border: none;
	background-color: var(--color_brand1);
	color: white;
	display: inline-block;
	letter-spacing: 0.2rem;
	font-weight: normal;
	width: 40%;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
}

.simple_advice {
	color: white;
	font-size: 1.4rem;
	margin-top: 1rem;
}

@media (--medium) {
	.newsletter_form {
		width: 80%;
	}

	.newsletter_btn {
		width: 30%;
	}
}
