/* Projects */

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_opacity);
    padding: 10rem 0;
    
    & h2{
        @apply --h2_style;
    }

    & .projects_infoWrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;

        & .projects_gallery{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            & .project_info-nav{
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                padding: 0 .65rem;
                width: 15%;
                & p{
                    color: var(--color_white);
                    font-size: 1.6rem;
                }

                & .project_info-arrows{
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   flex-direction: column;
                   width: 2rem;
                    & i{
                        color: var(--color_white);
                        position: relative;
                        font-size: 1.4rem;
                        cursor: pointer;
                        font-weight: bold;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                    & i:first-child{
                        transform: rotate(180deg);
                        padding-top: .1rem;
                    }

                    & i:last-child{
                        padding-top: .1rem;
                    }

                    & i:first-child::after{
                        content: "";
                        top: 0;
                        height: .1rem;
                        position: absolute;
                        display: flex;
                        width: 100%;
                        background-color: var(--color_white);
                    }
                }
            }

            & figure{
                height: 40rem;
                width: 85%;
                border: .2rem solid var(--color_white);
                display: flex;
                justify-content: center;
                align-items: flex-end;
                & .project_slideshow{
                    margin-bottom: calc(50% - 10rem);
                    height: 20rem;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: column;
                    overflow: hidden;
                    & .project_slideshowWrapper-images{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-direction: column;
                       & img{
                           height: 20rem;
                           width: 25rem;
                           object-fit: cover;
                       }
                   }
                }
            }
        }

        & .projects_info{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            & h3{
                color: var(--color_white);
                font-size: 3rem;
                margin-bottom: 4rem;
                position: relative;
            }

            & h3::before{
                content: "";
                position: absolute;
                margin-bottom: -1rem;
                left: 0;
                bottom: 0;
                right: 50%;
                height: .1rem;
                background-color: var(--color_white);
            }

            & p{
                color: var(--color_white);
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }

            & a{
                @apply --btn;
            }
        }
    }
}