/* Projects */

#Portfolio {
	background-color: black;
}

.projects_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 2rem;
}

.project_icons {
	color: white;
	font-size: 4rem;
}

.projects_container {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project_item {
	width: 100%;
	text-align: left;
	overflow: hidden;
}

.project_img_border {
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project_img {
	width: 80%;
}

.project_title {
	font-size: 2.5rem;
}

.project_rectangle {
	width: 15rem;
	height: 0.5rem;
	background-color: white;
	margin: 1rem 0rem;
}

.project_description {
	font-size: 1.6rem;
}

.project_btn {
	border: none;
	background-color: var(--color_brand1);
	color: white;
	display: inline-block;
	font-weight: normal;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
	margin-top: 2rem;
}

@media (--medium) {
	.project_icons {
		font-size: 8rem;
	}

	.projects_container {
		flex-direction: row;
	}

	.project_item {
		width: 50%;
	}

	.project_title {
		font-size: 4rem;
	}

	.project_description {
		font-size: 2rem;
	}
}
