/* Projects */

#Portfolio {
	background-color: black;
}

.project_item {
	width: 100%;
	z-index: 10;
}

.project_img {
	width: 80%;
	height: 250px;
	background-position: center;
	background-size: cover;
}

/*Project info*/
.project_info {
	width: 100%;
	margin: 2rem 0rem;
	align-items: center;
}

.project_title {
	font-size: 2rem;
	text-align: center;
}

.project_rectangle {
	width: 10rem;
	height: 0.5rem;
	background-color: white;
	margin: 1rem 0rem 2rem 0rem;
}

.project_description {
	font-size: 1.6rem;
}

.btn_marginTop {
	margin-top: 2rem;
}

.project_nav {
	width: 80%;
}

.project_nav_item {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 2px solid white;
	margin: 1rem;
	transition: 0.5s;
}

.project_nav_item:hover {
	background-color: white;
}

.active_item {
	background-color: white;
}

@media (--large) {
	.project_img {
		height: 350px;
	}

	.project_item {
		width: 80%;
	}
	.project_info {
		width: 80%;
		align-items: flex-start;
	}

	.project_title {
		font-size: 3rem;
		text-align: start;
	}

	.project_rectangle {
		height: 1rem;
		margin: 1rem 0rem 3rem 0rem;
	}

	.project_description {
		font-size: 2.4rem;
	}

	.btn_marginTop {
		margin-top: 3rem;
	}

	.project_nav_item {
		margin: 2rem;
	}
}
