/* Services */

.services_menu {
	width: 75%;
}

.service_item {
	cursor: pointer;
	height: 20rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10%;

	position: relative;

	overflow: hidden;

	& .service_title {
		text-align: center;
		z-index: 2;
	}

	& .service_imageBackground {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scale(1);
		background-size: cover;
		transition: 450ms all;
	}
}

.service_item:hover .service_imageBackground {
	transform: scale(1.1);
}

.service_item::before {
	content: '';
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
}

.service_imageBackground.a {
	background-image: url(./img/2_3.jpg);
}
.service_imageBackground.b {
	background-image: url(https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}
.service_imageBackground.c {
	background-image: url(https://ak1.picdn.net/shutterstock/videos/19102831/thumb/1.jpg);
}
.service_imageBackground.d {
	background-image: url(https://images.pexels.com/photos/1092644/pexels-photo-1092644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

@media (--small) {
	.service_item {
		height: 30rem;
	}

	.services_menu {
		display: grid;
		grid-template-columns: 1fr;
		grid-template: 'a' 'b' 'c' 'd';
		gap: 1.5rem;
	}

	.service_icon {
		font-size: 4rem;
	}

	.service_title {
		font-size: 2rem;
	}
}

@media (--medium) {
	.service_item {
		height: 20rem;
	}

	.services_menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template: 'a' 'c d';
		gap: 1.5rem;
	}

	.service_icon {
		font-size: 6rem;
	}

	.service_title {
		font-size: 2rem;
	}
}

@media (--large) {
	.service_item {
		height: 25rem;
	}

	.services_menu {
		display: grid;
		grid-template: 'a b' 'c d';
		gap: 1.5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.service_icon {
		font-size: 8rem;
	}

	.service_title {
		font-size: 2.5rem;
	}
}

/*

.serviceIcon {
	font-size: 6rem;
}

.service_title {
	font-size: 2rem;
}

@media (--medium) {
	.servicesMenu {
		grid-template: 'a b' 'c d';
		gap: 4rem;
	}
}

@media (--large) {
	.servicesMenu {
		grid-template: 'a b c d';
		gap: 6rem;
	}

	.serviceIcon {
		font-size: 8rem;
	}

	.service_title {
		font-size: 3rem;
	}
}*/
