/* Services */

.services {
	width: 100%;
	height: 50vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: black;

	& .services_container {
		width: 80%;
		height: 90%;
		display: flex;
		justify-content: center;
		text-align: center;
		flex-direction: column;

		& .servicesTitleContainer {
			height: 30%;
			display: flex;
			justify-content: center;
			align-items: center;

			& .servicesTitle {
				color: var(--color_brand1);
				font-size: 4rem;
			}
		}
	}
}

.servicesMenu {
	height: 70%;
	display: grid;
	grid-template: 'a b' 'c d';
	color: white;
}

.serviceItem {
	cursor: pointer;
	margin: 1rem 0rem;
}

.serviceIcon {
	font-size: 4rem;
}

.service_title {
	font-size: 2rem;
}

@media (--medium) {
	.serviceIcon {
		font-size: 6rem;
	}

	.service_title {
		font-size: 3rem;
	}
}

@media (--large) {
	.servicesMenu {
		grid-template: 'a b c d';
	}

	.serviceIcon {
		font-size: 8rem;
	}

	.service_title {
		font-size: 3rem;
	}
}
