/* Vars */

:root{
    --color_brand1: #00B6E2;
    --color_brand2: #0290B2;
    --color_brand3: #006179;
    --color_brand4: #004151;
    --color_brand5: #002D38;

    --color_grayScale1: #E6E6E6;
    --color_grayScale2: #ADADAD;
    --color_grayScale3: #6C6C6C;
    --color_grayScale4: #343434;
    --color_grayScale5: #0A0A0A;

    --color_white: #FFF;

    --header_nav_btn--before: {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        min-height: 4.4rem;
        width: .3rem;
        margin-top: -4.4rem;
        background-color: var(--color_brand1);
        z-index: 1;
    };

    --header_nav_btn--after: {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: .3rem;
        background-color: var(--color_brand1);
    };
}

/* Media Queries Postcss */

@custom-media --extra-small (width < 480px);
@custom-media --small (width < 768px);
@custom-media --medium (width >= 768px);
@custom-media --large (width >= 1024px);

/* Cuscom Selectors Postcss */