/* Why choose us? */

@media (--small) {
	.values_container {
		display: grid;
		grid-template: 'a b' 'c d' ' f g';
		gap: 6rem;
	}

	.value_icon {
		font-size: 5rem;
	}

	.value_title {
		font-size: 2rem;
		margin-top: 1.5rem;
	}

	.value_body {
		display: none;
	}
}
@media (--medium) {
	.values_container {
		display: grid;
		grid-template: 'a b c' 'd f g';
		gap: 6rem;
	}

	.value_icon {
		font-size: 6rem;
	}

	.value_title {
		font-size: 2.4rem;
		margin-top: 1.5rem;
	}

	.value_body {
		display: none;
	}
}
