/* Left_SIde */

.left_side{
    max-width: 25%;
    height: 100vh;
    background-color: var(--color_grayScale5);

    display: flex;
    justify-content: center;
    align-items: center;

    & h1{
        color: var(--color_white);
        text-align: center;
    }
}