/* Vars */

:root {
	--color_brand1: #00b6e2;
	--color_brand2: #0290b2;
	--color_brand3: #006179;
	--color_brand4: #004151;
	--color_brand5: #002d38;

	--color_grayScale1: #e6e6e6;
	--color_grayScale2: #adadad;
	--color_grayScale3: #6c6c6c;
	--color_grayScale4: #343434;
	--color_grayScale5: #0a0a0a;

	--color_opacity: rgba(10, 10, 10, 0.8);
	--color_white: #fff
}

/* Media Queries Postcss */

/* Icon Font */

@font-face {
	font-family: 'Revolution';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/REVOLUTION.ttf');
}

@font-face {
	font-family: 'icomoon';
	src: url('./fonts/icomoon.eot?x39n04');
	src: url('./fonts/icomoon.eot?x39n04#iefix') format('embedded-opentype'),
		url('./fonts/icomoon.ttf?x39n04') format('truetype'),
		url('./fonts/icomoon.woff?x39n04') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-small-left:before {
	content: '\e90e';
}

.icon-chevron-small-right:before {
	content: '\e90f';
}

.icon-chat-bubble-dots:before {
	content: '\e905';
}

.icon-cheveron-down:before {
	content: '\e906';
}

.icon-envelope:before {
	content: '\e907';
}

.icon-location:before {
	content: '\e90d';
}

.icon-time:before {
	content: '\e908';
}

.icon-chart-area:before {
	content: '\e910';
}

.icon-flow-switch:before {
	content: '\e90b';
}

.icon-align-right:before {
	content: '\e900';
}

.icon-chart-line:before {
	content: '\e909';
}

.icon-flag-outline:before {
	content: '\e90c';
}

.icon-cogs:before {
	content: '\e995';
}

.icon-bubbles2:before {
	content: '\e96d';
}

.icon-magic-wand:before {
	content: '\e997';
}

.icon-star-full:before {
	content: '\e9d9';
}

.icon-facebook2:before {
	content: '\ea91';
}

.icon-instagram:before {
	content: '\ea92';
}

.icon-whatsapp:before {
	content: '\ea93';
}

.icon-twitter:before {
	content: '\ea96';
}

.icon-youtube:before {
	content: '\ea9d';
}

.icon-github:before {
	content: '\eab0';
}

.icon-linkedin:before {
	content: '\eac9';
}

.icon-monitor:before {
	content: '\e911';
}

.icon-phone:before {
	content: '\e901';
}

.icon-document-code:before {
	content: '\e902';
}

.icon-heart1:before {
	content: '\e904';
}

.icon-display:before {
	content: '\e903';
}

.icon-fire:before {
	content: '\e90a';
}

.icon-bubble:before {
	content: '\e912';
}

.icon-heart:before {
	content: '\e913';
}

/* basics */

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

figure {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0px 10%;
	padding: 1rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Animations */

/* Animations */

.glitch::before {
	display: block;
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	opacity: 0.8;
	color: #0ff;
	z-index: -1;
}

.glitch::after {
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	border: 1px solid black;
	top: 2.2rem;
	display: flex;
	opacity: 0.8;
	color: #f0f;
	z-index: -2;
}

.glitch:hover::before {
	animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.84) both 5;
}

.glitch:hover::after {
	animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.84) reverse both 5;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-5px, 5px);
	}
	40% {
		transform: translate(-5px, -5px);
	}
	60% {
		transform: translate(5px, 5px);
	}
	80% {
		transform: translate(5px, -5px);
	}
	to {
		transform: translate(0);
	}
}

.fade_out {
	animation-name: fade_out;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-play-state: running;
}

@keyframes fade_out {
	from {
		transform: translateY(0) translateX(0) rotate(-45deg);
	}
	to {
		transform: translateY(0.7rem) translateX(0.7rem) rotate(-45deg);
	}
}

.slideshow_gallery {
	animation: slideshow_gallery 20s linear infinite;
}

@keyframes slideshow_gallery {
	from {
		transform: translateY(0rem);
	}

	20% {
		transform: translateY(20rem);
	}

	40% {
		transform: translateY(40rem);
	}

	60% {
		transform: translateY(60rem);
	}

	80% {
		transform: translateY(80rem);
	}

	to {
		transform: translateY(80rem);
	}
}

/* Header */

.header {
	display: flex;
	justify-content: space-between;
	background-color: black;
	position: fixed;
	width: 100%;
	height: 7rem;
	z-index: 9999
}

.header .logo {
		width: 17.5rem;
	}

.header .nav {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		font-size: 2rem;
		text-transform: uppercase
	}

.header .nav .navItem {
			margin: 0rem 4rem 0rem 0rem
		}

.header .nav .navItem .link {
				text-decoration: none;
				color: white;
			}

/* Hero */

.hero{
    width: 100%;
    height: 100vh;
    /*background-image: url(https://i.pinimg.com/originals/c4/35/d8/c435d8ab77377a71fbf93e45058b48d6.gif);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.hero h1, .hero p, .hero .hero_btn{
        z-index: 1;
    }

.hero h1{
        font-size: 3.5rem;
        letter-spacing: 2rem;
        color: var(--color_brand1);
        white-space: nowrap;
        font-family: 'Revolution', sans-serif;
        margin-bottom: 1rem;
    }

.hero p{
        font-size: 2.5rem;
        color: var(--color_white);
    }

.hero .hero_btn{
        position: absolute;
        bottom: 1rem;
        width: 4rem;
        height: 4rem;
        transform: rotate(45deg);
        background-color: var(--color_white)
    }

.hero .hero_btn i{
            color: var(--color_grayScale5); 
            font-size: 2rem;
            transform: rotate(-45deg);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;

        }

.hero .hero_btn a{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

        }

.hero:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color_grayScale5);
    opacity: .75;
    z-index: 1;
}

.hero_bg{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.ibb.co/3YrWpQ2/bg-blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
}

/* About Us */

.about_us{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0;
    background-color: var(--color_white)
}

.about_us h2{
        font-size: 2.5rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }

.about_us .about_content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2rem
    }

.about_us .about_content .about_item p{
                font-size: 1.6rem;
                font-weight: lighter;
            }

.about_us .about_content .about_item:nth-of-type(1){
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column
        }

.about_us .about_content .about_item:nth-of-type(1) p:nth-of-type(1){
                font-size: 2rem;
                margin-bottom: 1rem;
                color: var(--color_brand1);
            }

/* Services */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color_opacity);
    padding: 10rem 0
}

.services h2{
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 10rem;
  color: var(--color_brand1);
    }

.services .services_wrapperItem{
        display: flex;
        justify-content: space-between;
        width: 100%
    }

.services .services_wrapperItem .services_item{
            display: flex;
            flex-direction: column;
            align-items: center
        }

.services .services_wrapperItem .services_item i{
                color: var(--color_white);
                font-size: 6rem;
                margin-bottom: 1rem;
            }

.services .services_wrapperItem .services_item p{
                color: var(--color_white);
                font-size: 1.8rem;
            }

/* Projects */

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_opacity);
    padding: 10rem 0
}

.projects h2{
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 10rem;
  color: var(--color_brand1);
    }

.projects .projects_infoWrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10rem
    }

.projects .projects_infoWrapper .projects_gallery{
            display: flex;
            justify-content: space-between;
            align-items: center
        }

.projects .projects_infoWrapper .projects_gallery .project_info-nav{
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                padding: 0 .65rem;
                width: 15%
            }

.projects .projects_infoWrapper .projects_gallery .project_info-nav p{
                    color: var(--color_white);
                    font-size: 1.6rem;
                }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows{
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   flex-direction: column;
                   width: 2rem
                }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i{
                        color: var(--color_white);
                        position: relative;
                        font-size: 1.4rem;
                        cursor: pointer;
                        font-weight: bold;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i:first-child{
                        transform: rotate(180deg);
                        padding-top: .1rem;
                    }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i:last-child{
                        padding-top: .1rem;
                    }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i:first-child::after{
                        content: "";
                        top: 0;
                        height: .1rem;
                        position: absolute;
                        display: flex;
                        width: 100%;
                        background-color: var(--color_white);
                    }

.projects .projects_infoWrapper .projects_gallery figure{
                height: 40rem;
                width: 85%;
                border: .2rem solid var(--color_white);
                display: flex;
                justify-content: center;
                align-items: flex-end
            }

.projects .projects_infoWrapper .projects_gallery figure .project_slideshow{
                    margin-bottom: calc(50% - 10rem);
                    height: 20rem;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: column;
                    overflow: hidden
                }

.projects .projects_infoWrapper .projects_gallery figure .project_slideshow .project_slideshowWrapper-images{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-direction: column
                   }

.projects .projects_infoWrapper .projects_gallery figure .project_slideshow .project_slideshowWrapper-images img{
                           height: 20rem;
                           width: 25rem;
                           object-fit: cover;
                       }

.projects .projects_infoWrapper .projects_info{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column
        }

.projects .projects_infoWrapper .projects_info h3{
                color: var(--color_white);
                font-size: 3rem;
                margin-bottom: 4rem;
                position: relative;
            }

.projects .projects_infoWrapper .projects_info h3::before{
                content: "";
                position: absolute;
                margin-bottom: -1rem;
                left: 0;
                bottom: 0;
                right: 50%;
                height: .1rem;
                background-color: var(--color_white);
            }

.projects .projects_infoWrapper .projects_info p{
                color: var(--color_white);
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }

.projects .projects_infoWrapper .projects_info a{
  color: var(--color_white);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--color_brand1);
  color: var(--color_brand1);
  font-size: 1.6rem;
  font-weight: bold;
            }

/* Exlusive content */

.exclusive_content{
    display: flex;
    justify-content: space-between;
    background-color: var(--color_white);
    padding: 10rem 0
}

.exclusive_content .exclusive_content_leftWrapper{
        width: 70%
    }

.exclusive_content .exclusive_content_leftWrapper h2{
            font-size: 2rem;
            margin-bottom: 1em;
        }

.exclusive_content .exclusive_content_leftWrapper p{
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }

.exclusive_content .exclusive_content_leftWrapper a{
            display: inline-flex;
  color: var(--color_white);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--color_brand1);
  color: var(--color_brand1);
  font-size: 1.6rem;
  font-weight: bold;
        }

.exclusive_content img{
        width: 25%;
    }

/* Why choose us? */

/* Testimonials */

/* News */

/* Newsletter */

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
    background-color: var(--color_opacity)
}

.newsletter h2{
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 10rem;
  color: var(--color_brand1);
        margin-bottom: 2rem;
    }

.newsletter .newsletter_form{
        width: 80%
    }

.newsletter .newsletter_form .newsletter_emailInput{
            padding: .8rem 1.5rem;
            border: none;
            font-size: 1.4rem;
            width: 80%;
        }

.newsletter .newsletter_form .newsletter_btn{
            border: none;
            background-color: var(--color_brand1);
            color: white;
            display: inline-block;
            height: 3.2rem;
            letter-spacing: .2rem;
            font-weight: normal;
            width: 20%;
        }

/* Conctact */

/* Maps */

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh
}

.map .map_nodeWrapper{
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        position: absolute
    }

.map .map_nodeWrapper iframe{
            display: inline;
            width: 100%;
            height: 100vh;
        }

.map .map_infoWrapper{
        width: 100%;
        height: 100%;
        background-color: var(--color_opacity);
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer
    }

.map .map_infoWrapper .map_iconItem{
            width: 6.5rem;
            height: 6.5rem;
            background-color: var(--color_white);
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(45deg) translate(-2rem, -2rem)
        }

.map .map_infoWrapper .map_iconItem i{
                color: var(--color_grayScale5);
                font-size: 3rem;
                transform: rotate(-45deg);
            }

.map .map_infoWrapper p{
            display: inline-block;
            font-size: 1.8rem;
            color: var(--color_white);
        }

.map .map_infoWrapper .map_infoItem{

            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            color: var(--color_white);
        }

/* Footer */

.footer{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color_grayScale5);
    padding: 10rem 0
}

.footer img{
        width: 10rem;
        margin-bottom: 2rem;
    }

.footer .footer_icons{
        display: flex;
        justify-content: space-between;
        width: 25%;
        margin: 1rem 0
    }

.footer .footer_icons .footer_iconItem{
            width: 3.2rem;
            height: 3.2rem;
            background-color: var(--color_white);
            transform: rotate(-45deg);
            transition: 450ms all
        }

.footer .footer_icons .footer_iconItem a{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none
            }

.footer .footer_icons .footer_iconItem a i{
                    font-size: 1.6rem;
                    color: var(--color_grayScale5);
                    transform: rotate(45deg);
                }

.footer .footer_icons .footer_iconItem:hover{
            background-color: var(--color_brand1)
        }

.footer .footer_icons .footer_iconItem:hover a i{
                    color: var(--color_white);
                }

.footer .footer_nav{
        width: 40%;
        margin-bottom: 2rem
    }

.footer .footer_nav ul{
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center
        }

.footer .footer_nav ul li{
                list-style: none
            }

.footer .footer_nav ul li a{
                    color: var(--color_white);
                    text-decoration: none;
                    font-size: 1.4rem;
                    transition: 450ms alls;
                }

.footer .footer_nav ul li a:hover{
                    color: var(--color_brand1);
                }

.footer .footer_copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative
    }

.footer .footer_copyright p{
            color: var(--color_white);
            font-size: 1.6rem;
        }

.footer .footer_copyright p:first-child{
            text-transform: uppercase;
            margin: 2rem 0 1rem;
        }

.footer .footer_copyright p:last-child{
            font-weight: bold;
        }

.footer .footer_copyright:before{
        content: "";
        top: 0;
        width: 50%;
        background-color: var(--color_brand1);
        height: .2rem;
    }

@media only screen and (max-width: 400px) {
	.glitch {
		font-size: 3em;
	}
}

