.border-b {
	border: 1px solid black;
}

.border-w {
	border: 1px solid white;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10rem 0rem;
}

.brand {
	color: var(--color_brand1);
}

.white {
	color: white;
}

.black {
	color: black;
}

.bg-white {
	background-color: white;
}

.bg-black {
	background-color: black;
}

.bg-brand {
	background-color: var(--color-brand5);
}

.container {
	width: 90%;
}

.flex {
	display: flex;
}

.flex-d-row {
	flex-direction: row;
}

.flex-d-col {
	flex-direction: column;
}

.flex-jc-start {
	justify-content: flex-start;
}

.flex-jc-center {
	justify-content: center;
}

.flex-jc-end {
	justify-content: flex-end;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-sa {
	justify-content: space-around;
}

.flex-ai-start {
	align-items: flex-start;
}

.flex-ai-center {
	align-items: center;
}

.flex-ai-end {
	align-items: flex-end;
}

.ta-start {
	text-align: start;
}

.ta-center {
	text-align: center;
}

.ta-end {
	text-align: end;
}

.w-100 {
	width: 100%;
}

.field {
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	padding: 0.8rem 1.5rem;
	resize: none;
	border: 2px solid grey;
}

.btn-contained {
	font-family: 'Lato', sans-serif;
	border: 2px solid var(--color_brand1);
	background-color: var(--color_brand1);
	color: white;
	display: inline-block;
	font-weight: normal;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
	transition: 0.5s;
	cursor: pointer;
}

.btn-contained:hover {
	background-color: var(--color_brand3);
}

.btn-highlight {
	font-family: 'Lato', sans-serif;
	border: 2px solid var(--color_brand1);
	background-color: transparent;
	color: var(--color_brand1);
	display: inline-block;
	font-weight: normal;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
	transition: 0.5s;
	cursor: pointer;
}

.btn-highlight:hover {
	background-color: var(--color_brand1);
	color: white;
}

/* Vars */

:root {
	--color_brand1: #00b6e2;
	--color_brand2: #0290b2;
	--color_brand3: #006179;
	--color_brand4: #004151;
	--color_brand5: #002d38;

	--color_grayScale1: #e6e6e6;
	--color_grayScale2: #adadad;
	--color_grayScale3: #6c6c6c;
	--color_grayScale4: #343434;
	--color_grayScale5: #0a0a0a;

	--color_opacity: rgba(10, 10, 10, 0.8);
	--color_white: #fff
}

/* Media Queries Postcss */

/* Icon Font */

@font-face {
	font-family: 'icomoon';
	src: url('./fonts/icomoon.eot?n0w195');
	src: url('./fonts/icomoon.eot?n0w195#iefix') format('embedded-opentype'),
		url('./fonts/icomoon.ttf?n0w195') format('truetype'),
		url('./fonts/icomoon.woff?n0w195') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-small-left:before {
	content: '\e90e';
}

.icon-chevron-small-right:before {
	content: '\e90f';
}

.icon-chat-bubble-dots:before {
	content: '\e905';
}

.icon-cheveron-down:before {
	content: '\e906';
}

.icon-envelope:before {
	content: '\e907';
}

.icon-location:before {
	content: '\e90d';
}

.icon-time:before {
	content: '\e908';
}

.icon-chart-area:before {
	content: '\e910';
}

.icon-flow-switch:before {
	content: '\e90b';
}

.icon-align-right:before {
	content: '\e900';
}

.icon-chart-line:before {
	content: '\e909';
}

.icon-flag-outline:before {
	content: '\e90c';
}

.icon-menu:before {
	content: '\e914';
}

.icon-cogs:before {
	content: '\e995';
}

.icon-bubbles2:before {
	content: '\e96d';
}

.icon-magic-wand:before {
	content: '\e997';
}

.icon-star-full:before {
	content: '\e9d9';
}

.icon-facebook2:before {
	content: '\ea91';
}

.icon-instagram:before {
	content: '\ea92';
}

.icon-whatsapp:before {
	content: '\ea93';
}

.icon-twitter:before {
	content: '\ea96';
}

.icon-youtube:before {
	content: '\ea9d';
}

.icon-github:before {
	content: '\eab0';
}

.icon-linkedin:before {
	content: '\eac9';
}

.icon-monitor:before {
	content: '\e911';
}

.icon-phone:before {
	content: '\e901';
}

.icon-document-code:before {
	content: '\e902';
}

.icon-heart1:before {
	content: '\e904';
}

.icon-display:before {
	content: '\e903';
}

.icon-fire:before {
	content: '\e90a';
}

.icon-bubble:before {
	content: '\e912';
}

.icon-heart:before {
	content: '\e913';
}

/* basics */

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* Animations */

.glitch::before {
	display: block;
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	opacity: 0.8;
	color: #0ff;
	z-index: -1;
}

.glitch::after {
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	opacity: 0.8;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	color: #f0f;
	z-index: -2;
}

.glitch:hover::before {
	animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.84) both 5;
}

.glitch:hover::after {
	animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.84) reverse both 5;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-5px, 5px);
	}
	40% {
		transform: translate(-5px, -5px);
	}
	60% {
		transform: translate(5px, 5px);
	}
	80% {
		transform: translate(5px, -5px);
	}
	to {
		transform: translate(0);
	}
}

.fade_out {
	animation-name: fade_out;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-play-state: running;
}

@keyframes fade_out {
	from {
		transform: translateY(0) translateX(0) rotate(-45deg);
	}
	to {
		transform: translateY(0.7rem) translateX(0.7rem) rotate(-45deg);
	}
}

.slideshow_gallery {
	animation: slideshow_gallery 20s linear infinite;
}

@keyframes slideshow_gallery {
	from {
		transform: translateY(0rem);
	}

	20% {
		transform: translateY(20rem);
	}

	40% {
		transform: translateY(40rem);
	}

	60% {
		transform: translateY(60rem);
	}

	80% {
		transform: translateY(80rem);
	}

	to {
		transform: translateY(80rem);
	}
}

.fade_outMap {
	animation-name: fade_outMap;
	animation-fill-mode: forwards;
	animation-duration: 450ms;
	animation-timing-function: ease-out;
}

@keyframes fade_outMap {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		z-index: 0;
	}
}

.fade_inMap {
	animation-name: fade_inMap;
	animation-fill-mode: forwards;
	animation-duration: 450ms;
	animation-timing-function: ease-out;
}

@keyframes fade_inMap {
	from {
		opacity: 0;
		z-index: 1;
	}

	to {
		opacity: 1;
	}
}

/* Header */

.header {
	background-color: black;
	position: fixed;
	width: 100vw;
	height: 7rem;
	z-index: 9999;
}

.logo {
	width: 17.5rem;
}

.nav {
	list-style: none;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.navItem {
	margin: 0rem 4rem 0rem 0rem;
}

.link {
	text-decoration: none;
	color: white;
	width: 100%;
	position: relative;
	font-size: 1.6rem;
}

/*.link {
	width: 100%;
	position: relative;
	font-size: 1.6rem;
}*/

/* Hero */

#Home {
	height: 100vh;
	position: relative;
}

.hero_bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-image: url(https://i.ibb.co/3YrWpQ2/bg-blue.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	z-index: -1;
}

#hero_title {
	letter-spacing: 1rem;
	font-size: 4rem;
	margin-bottom: 2rem;
}

#hero_subtitle {
	font-size: 2rem;
}

.hero_btn {
	position: absolute;
	bottom: 1.5rem;
	width: 4rem;
	height: 4rem;
	transform: rotate(45deg);
	background-color: white;
}

.hero_icon {
	color: var(--color_grayScale5);
	font-size: 2rem;
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

/* About Us */

#cite {
	margin-top: 2rem;
}

/* Services */

.service_item {
	cursor: pointer;
	margin: 1rem 0rem;
	width: 200px;
}

/*

.serviceIcon {
	font-size: 6rem;
}

.service_title {
	font-size: 2rem;
}

@media (--medium) {
	.servicesMenu {
		grid-template: 'a b' 'c d';
		gap: 4rem;
	}
}

@media (--large) {
	.servicesMenu {
		grid-template: 'a b c d';
		gap: 6rem;
	}

	.serviceIcon {
		font-size: 8rem;
	}

	.service_title {
		font-size: 3rem;
	}
}*/

/* Projects */

#Portfolio {
	background-color: black;
}

.projects_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 2rem;
}

.project_icons {
	color: white;
	font-size: 4rem;
}

.projects_container {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project_item {
	width: 100%;
	text-align: left;
	overflow: hidden;
}

.project_img_border {
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project_img {
	width: 80%;
}

.project_title {
	font-size: 2.5rem;
}

.project_rectangle {
	width: 15rem;
	height: 0.5rem;
	background-color: white;
	margin: 1rem 0rem;
}

.project_description {
	font-size: 1.6rem;
}

.project_btn {
	border: none;
	background-color: var(--color_brand1);
	color: white;
	display: inline-block;
	font-weight: normal;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
	margin-top: 2rem;
}

/* Exlusive content */

.exclusive_content {
	display: flex;
	justify-content: space-between;
	background-color: var(--color_white);
	padding: 10rem 0
}

.exclusive_content .exclusive_content_leftWrapper {
		width: 70%
	}

.exclusive_content .exclusive_content_leftWrapper h2 {
			font-size: 2.5rem;
			margin-bottom: 1em;
		}

.exclusive_content .exclusive_content_leftWrapper p {
			font-size: 1.4rem;
			margin-bottom: 2rem;
		}

.exclusive_content img {
		width: 25%;
	}

.exclusive_container {
	padding: 0 10%;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	flex-shrink: inherit;
	width: 100%;
	height: 100%;
}

/* Why choose us? */

/* Testimonials */

/* News */

/* Newsletter */

.nl_input {
	width: 60%;
}

.nl_btn {
	width: 40%;
}

.simple_advice {
	font-size: 1.4rem;
	margin-top: 1rem;
}

/* Contact */

.container_item {
	width: 100%;
	padding: 2rem;
}

.reset_margin_bot {
	margin-bottom: 0rem !important;
}

.form_item {
	margin: 1rem 0rem;
}

.icons_container {
	margin-top: 4rem;
	flex-wrap: wrap;
}

.flex-d-responsive {
	flex-direction: column;
}

.rectangle {
	width: 10rem;
	height: 0.5rem;
	background-color: var(--color_brand1);
	margin: 2rem 0rem 3rem 0rem;
}

.contact_content {
	font-size: 1.8rem;
}

.icon_item {
	width: 150px;
	margin: 1.5rem;
}

.icon {
	font-size: 3rem;
	margin-right: 1rem;
}

.icon_text {
	font-size: 1.2rem;
}

/* Maps */

.map {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 80vh
}

.map .map_nodeWrapper {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;
		position: absolute
	}

.map .map_nodeWrapper iframe {
			display: inline;
			width: 100%;
			height: 80vh;
		}

.map .map_infoWrapper {
		width: 100%;
		height: 100%;
		background-color: var(--color_opacity);
		z-index: 1;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
		transition: 450ms all
	}

.map .map_infoWrapper .map_iconItem {
			width: 6.5rem;
			height: 6.5rem;
			background-color: var(--color_white);
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(45deg) translate(-2rem, -2rem)
		}

.map .map_infoWrapper .map_iconItem i {
				color: var(--color_grayScale5);
				font-size: 3rem;
				transform: rotate(-45deg);
			}

.map .map_infoWrapper p {
			display: inline-block;
			font-size: 1.8rem;
			color: var(--color_white);
		}

.map .map_infoWrapper .map_infoItem {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 1.8rem;
			color: var(--color_white);
		}

.maps_container {
	padding: 0 10%;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	flex-shrink: inherit;
	width: 100%;
	height: 100%;
}

/* Footer */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--color_grayScale5);
	padding: 10rem 0
}

.footer img {
		width: 17.5rem;
		margin-bottom: 2rem;
	}

.footer .footer_icons {
		display: flex;
		justify-content: space-around;
		width: 25%;
		margin: 1rem 0;
		flex-wrap: wrap
	}

.footer .footer_icons .footer_iconItem {
			width: 3.2rem;
			height: 3.2rem;
			background-color: var(--color_white);
			transform: rotate(-45deg);
			transition: 450ms all
		}

.footer .footer_icons .footer_iconItem a {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none
			}

.footer .footer_icons .footer_iconItem a i {
					font-size: 1.6rem;
					color: var(--color_grayScale5);
					transform: rotate(45deg);
				}

.footer .footer_icons .footer_iconItem:hover {
			background-color: var(--color_brand1)
		}

.footer .footer_icons .footer_iconItem:hover a i {
					color: var(--color_white);
				}

.footer .footer_nav {
		width: 40%;
		margin-bottom: 2rem
	}

.footer .footer_nav ul {
			padding: 0;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap
		}

.footer .footer_nav ul li {
				list-style: none
			}

.footer .footer_nav ul li a {
					color: var(--color_white);
					text-decoration: none;
					font-size: 1.4rem;
					transition: 450ms alls;
				}

.footer .footer_nav ul li a:hover {
					color: var(--color_brand1);
				}

.footer .footer_copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative
	}

.footer .footer_copyright p {
			color: var(--color_white);
			font-size: 1.6rem;
		}

.footer .footer_copyright p:first-child {
			text-transform: uppercase;
			margin: 2rem 0 1rem;
		}

.footer .footer_copyright p:last-child {
			font-weight: bold;
		}

.footer .footer_copyright:before {
		content: '';
		top: 0;
		width: 50%;
		background-color: var(--color_brand1);
		height: 0.2rem;
	}

.footer_container {
	padding: 0 10%;

	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	flex-shrink: inherit;

	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	.container {
		width: 90%;
	}

	.section-title {
		font-size: 2.5rem;
		margin-bottom: 4rem;
	}
	.show_Navbar {
		animation-name: show_Navbar;
		animation-fill-mode: forwards;
		animation-duration: 450ms;
		animation-timing-function: ease-out;
	}
	
	@keyframes show_Navbar {
		from {
			height: 0;
		}
	
		to {
			height: 26rem;
		}
	}
	
	.hide_Navbar {
		animation-name: hide_Navbar;
		animation-fill-mode: forwards;
		animation-duration: 450ms;
		animation-timing-function: ease-out;
	}
	
	@keyframes hide_Navbar {
		from {
			height: 26rem;
		}
	
		to {
			height: 0;
		}
	}
	nav {
		position: fixed;
		z-index: 0;
		left: 0;
		right: 0;
		top: 0;
		transform: translateY(7rem);
		transition: 450ms all;
		background-color: var(--color_grayScale5);
		border-bottom: 0.1rem solid var(--color_grayScale4);
		height: 0rem;
		overflow: hidden;
	}

	.nav {
		padding: 2rem 10%;
		flex-direction: column;
		margin: 0;
		justify-content: space-around;
		align-items: center;
		height: 100%;
	}

	.navItem {
		margin: 0;
		padding-bottom: 2rem;
	}

	.hamburger_bar {
		display: block;
		color: var(--color_white);
		font-size: 3rem;
		position: fixed;
		right: 10%;
		top: 0;
		line-height: 7rem;
		z-index: 9999;
		cursor: pointer;
	}
	#hero_title {
		letter-spacing: 0.5rem;
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	#hero_subtitle {
		font-size: 1.5rem;
	}
	.content_container {
		display: grid;
		grid-template: 'a' 'b' 'c';
		grid-gap: 3rem;
		text-align: left;
	}

	.item {
		font-size: 1.6rem;
		font-weight: lighter;
	}

	.special_text {
		font-size: 2rem;
	}
	.services_menu {
		display: grid;
		grid-template: 'a' 'b' 'c' 'd';
		grid-gap: 3rem;
	}

	.service_icon {
		font-size: 4rem;
	}

	.service_title {
		font-size: 2rem;
	}
		.exclusive_content .exclusive_content_leftWrapper {
			width: 100%;
		}
		.exclusive_content img {
			display: none;
		}
	.values_container {
		display: grid;
		grid-template: 'a b' 'c d' ' f g';
		grid-gap: 6rem;
	}

	.value_icon {
		font-size: 5rem;
	}

	.value_title {
		font-size: 2rem;
		margin-top: 1.5rem;
	}

	.value_body {
		display: none;
	}
		.footer .footer_icons {
			width: 80%;
		}
		.footer .footer_nav {
			width: 80%;
		}
}

@media (min-width: 768px) {
	.container {
		width: 80%;
	}

	.section-title {
		font-size: 4rem;
		margin-bottom: 4rem;
	}
	.hamburger_bar {
		display: none;
	}
	#hero_title {
		letter-spacing: 1rem;
		font-size: 5rem;
		margin-bottom: 2rem;
	}

	#hero_subtitle {
		font-size: 3rem;
	}
	.content_container {
		display: grid;
		grid-template: 'a b c';
		grid-gap: 3rem;
	}

	.item {
		font-size: 2rem;
		font-weight: lighter;
	}

	.special_text {
		font-size: 2.2rem;
	}
	.services_menu {
		display: grid;
		grid-template: 'a b' 'c d';
		grid-gap: 3rem;
	}

	.service_icon {
		font-size: 6rem;
	}

	.service_title {
		font-size: 2rem;
	}
	.project_icons {
		font-size: 8rem;
	}

	.projects_container {
		flex-direction: row;
	}

	.project_item {
		width: 50%;
	}

	.project_title {
		font-size: 4rem;
	}

	.project_description {
		font-size: 2rem;
	}
		.exclusive_content .exclusive_content_leftWrapper {
			width: 100%;
		}
		.exclusive_content img {
			display: block;
			margin-left: 4rem;
		}
	.values_container {
		display: grid;
		grid-template: 'a b c' 'd f g';
		grid-gap: 6rem;
	}

	.value_icon {
		font-size: 6rem;
	}

	.value_title {
		font-size: 2.4rem;
		margin-top: 1.5rem;
	}

	.value_body {
		display: none;
	}
	.nl_form {
		width: 80%;
	}

	.nl_input {
		width: 70%;
	}

	.nl_btn {
		width: 30%;
	}
		.footer .footer_icons {
			width: 80%;
		}
		.footer .footer_nav {
			width: 80%;
		}
}

@media only screen and (max-width: 300px) {
	.glitch {
		font-size: 3em;
	}
}

@media (min-width: 1024px) {
	.services_menu {
		display: grid;
		grid-template: 'a b c d';
		grid-gap: 3rem;
	}

	.service_icon {
		font-size: 8rem;
	}

	.service_title {
		font-size: 2.5rem;
	}
	.flex-d-responsive {
		flex-direction: row;
	}

	.rectangle {
		width: 15rem;
		height: 0.5rem;
		background-color: var(--color_brand1);
		margin: 2rem 0rem 3rem 0rem;
	}

	.contact_content {
		font-size: 2rem;
	}

	.icon {
		font-size: 3rem;
		margin-right: 1rem;
	}

	.icon_text {
		font-size: 1.4rem;
	}
}

@media (max-width: 479px) {
		.footer .footer_icons {
			width: 100%;
		}
		.footer .footer_nav {
			width: 100%;
		}
}
