/* Vars */

:root {
	--color_brand1: #00b6e2;
	--color_brand2: #0290b2;
	--color_brand3: #006179;
	--color_brand4: #004151;
	--color_brand5: #002d38;

	--color_grayScale1: #e6e6e6;
	--color_grayScale2: #adadad;
	--color_grayScale3: #6c6c6c;
	--color_grayScale4: #343434;
	--color_grayScale5: #0a0a0a;

	--color_opacity: rgba(10, 10, 10, 0.8);
	--color_white: #fff
}

/* Media Queries Postcss */

/* Icon Font */

@font-face {
	font-family: 'icomoon';
	src: url('./fonts/icomoon.eot?n0w195');
	src: url('./fonts/icomoon.eot?n0w195#iefix') format('embedded-opentype'),
		url('./fonts/icomoon.ttf?n0w195') format('truetype'),
		url('./fonts/icomoon.woff?n0w195') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-small-left:before {
	content: '\e90e';
}

.icon-chevron-small-right:before {
	content: '\e90f';
}

.icon-chat-bubble-dots:before {
	content: '\e905';
}

.icon-cheveron-down:before {
	content: '\e906';
}

.icon-envelope:before {
	content: '\e907';
}

.icon-location:before {
	content: '\e90d';
}

.icon-time:before {
	content: '\e908';
}

.icon-chart-area:before {
	content: '\e910';
}

.icon-flow-switch:before {
	content: '\e90b';
}

.icon-align-right:before {
	content: '\e900';
}

.icon-chart-line:before {
	content: '\e909';
}

.icon-flag-outline:before {
	content: '\e90c';
}

.icon-menu:before {
	content: '\e914';
}

.icon-cogs:before {
	content: '\e995';
}

.icon-bubbles2:before {
	content: '\e96d';
}

.icon-magic-wand:before {
	content: '\e997';
}

.icon-star-full:before {
	content: '\e9d9';
}

.icon-facebook2:before {
	content: '\ea91';
}

.icon-instagram:before {
	content: '\ea92';
}

.icon-whatsapp:before {
	content: '\ea93';
}

.icon-twitter:before {
	content: '\ea96';
}

.icon-youtube:before {
	content: '\ea9d';
}

.icon-github:before {
	content: '\eab0';
}

.icon-linkedin:before {
	content: '\eac9';
}

.icon-monitor:before {
	content: '\e911';
}

.icon-phone:before {
	content: '\e901';
}

.icon-document-code:before {
	content: '\e902';
}

.icon-heart1:before {
	content: '\e904';
}

.icon-display:before {
	content: '\e903';
}

.icon-fire:before {
	content: '\e90a';
}

.icon-bubble:before {
	content: '\e912';
}

.icon-heart:before {
	content: '\e913';
}

/* basics */

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.brand_color {
	color: var(--color_brand1);
}

.white {
	color: white;
}

.black {
	color: black;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10rem 0rem;
}

.col {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.container {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

.section_title {
	font-size: 3rem;
	font-family: 'Revolution', sans-serif;
	margin-bottom: 1rem;
}

.section_subtitle {
	font-size: 2rem;
}

/* Animations */

.glitch::before {
	display: block;
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	opacity: 0.8;
	color: #0ff;
	z-index: -1;
}

.glitch::after {
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	border: 1px solid black;
	top: 2.2rem;
	display: flex;
	opacity: 0.8;
	color: #f0f;
	z-index: -2;
}

.glitch:hover::before {
	animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.84) both 5;
}

.glitch:hover::after {
	animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.84) reverse both 5;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-5px, 5px);
	}
	40% {
		transform: translate(-5px, -5px);
	}
	60% {
		transform: translate(5px, 5px);
	}
	80% {
		transform: translate(5px, -5px);
	}
	to {
		transform: translate(0);
	}
}

.fade_out {
	animation-name: fade_out;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-play-state: running;
}

@keyframes fade_out {
	from {
		transform: translateY(0) translateX(0) rotate(-45deg);
	}
	to {
		transform: translateY(0.7rem) translateX(0.7rem) rotate(-45deg);
	}
}

.slideshow_gallery {
	animation: slideshow_gallery 20s linear infinite;
}

@keyframes slideshow_gallery {
	from {
		transform: translateY(0rem);
	}

	20% {
		transform: translateY(20rem);
	}

	40% {
		transform: translateY(40rem);
	}

	60% {
		transform: translateY(60rem);
	}

	80% {
		transform: translateY(80rem);
	}

	to {
		transform: translateY(80rem);
	}
}

.fade_outMap {
	animation-name: fade_outMap;
	animation-fill-mode: forwards;
	animation-duration: 450ms;
	animation-timing-function: ease-out;
}

@keyframes fade_outMap {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		z-index: 0;
	}
}

.fade_inMap {
	animation-name: fade_inMap;
	animation-fill-mode: forwards;
	animation-duration: 450ms;
	animation-timing-function: ease-out;
}

@keyframes fade_inMap {
	from {
		opacity: 0;
		z-index: 1;
	}

	to {
		opacity: 1;
	}
}

.show_Navbar{
    animation-name: show_Navbar;
	animation-fill-mode: forwards;
	animation-duration: 450ms;
	animation-timing-function: ease-out;
}

@keyframes show_Navbar{
    from{
        height: 0;
    }

    to{
        height: 26rem;
    }
}

.hide_Navbar{
    animation-name: hide_Navbar;
	animation-fill-mode: forwards;
	animation-duration: 450ms;
	animation-timing-function: ease-out;
}

@keyframes hide_Navbar{
    from{
        height: 26rem;
    }

    to{
        height: 0;
    }
}

/* Header */

.header {
	display: flex;
	justify-content: space-between;
	background-color: black;
	position: fixed;
	width: 100%;
	height: 7rem;
	z-index: 9999
}

.header .logo {
		width: 17.5rem;
	}

.header nav .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            font-size: 1.6rem;
            text-transform: uppercase
        }

.header nav .nav .navItem {
                margin: 0rem 4rem 0rem 0rem
            }

.header nav .nav .navItem .link {
                    text-decoration: none;
                    color: white;
                }

.header nav .hamburger_bar{
            display: none;
        }

.header_container {
	width: 80%;
	margin: 0px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Hero */

.hero {
	height: 100vh;
	position: relative;
}

.hero_bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-image: url(https://i.ibb.co/3YrWpQ2/bg-blue.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	z-index: -1;
}

#hero_title {
	letter-spacing: 1rem;
}

.hero_btn {
	position: absolute;
	bottom: 1.5rem;
	width: 4rem;
	height: 4rem;
	transform: rotate(45deg);
	background-color: white;
}

.hero_icon {
	color: var(--color_grayScale5);
	font-size: 2rem;
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

/* About Us */

.about_us {
	background-color: white;
}

.contentContainer {
	display: grid;
	grid-template: 'a' 'b' 'c';
	grid-gap: 3rem;
	text-align: left;
}

.special_item {
	font-size: 2.5rem;
}

#cite {
	margin-top: 1rem;
}

/*.special_item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	font-size: 1.6rem;
	font-weight: lighter;
}*/

/*.about_us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 10rem 0;
	background-color: white;

	& .about_us_container {
		width: 80%;

		& .aboutTitle {
			font-size: 3rem;
			margin-bottom: 2rem;
		}

		& .contentContainer {
			& 

				& .special_text {
					font-size: 2rem;
					margin-bottom: 1rem;
					color: var(--color_brand1);
				}
			}

			& .content_item {
				font-size: 1.6rem;
				font-weight: lighter;
			}
		}
	}
}



*/

/* Services */

.services_container {
	align-items: center;
}

.servicesMenu {
	display: grid;
	grid-template: 'a' 'b' 'c' 'd';
	align-items: center;
	grid-gap: 3rem;
}

.serviceItem {
	cursor: pointer;
	margin: 1rem 0rem;
	width: 200px;
}

.serviceIcon {
	font-size: 6rem;
}

.service_title {
	font-size: 2rem;
}

/*.services {
	width: 100%;
	min-height: 70vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: black;

	& 

		& .servicesTitleContainer {
			height: 40%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 4rem;

			& .servicesTitle {
				color: var(--color_brand1);
				font-size: 4rem;
			}
		}
	}
}







.service_title {
	font-size: 1.8rem;
}

@media (--medium) {
	.serviceIcon {
		font-size: 6rem;
	}

	.service_title {
		font-size: 3rem;
	}
}

@media (--large) {
	.servicesMenu {
		grid-template: 'a b c d';
	}

	.serviceIcon {
		font-size: 8rem;
	}

	.service_title {
		font-size: 3rem;
	}
}
*/

/* Projects */

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_opacity);
    padding: 10rem 0
}

.projects h2{
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 10rem;
  color: var(--color_brand1);
    }

.projects .projects_infoWrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10rem
    }

.projects .projects_infoWrapper .projects_gallery{
            display: flex;
            justify-content: space-between;
            align-items: center
        }

.projects .projects_infoWrapper .projects_gallery .project_info-nav{
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                padding: 0 .65rem;
                width: 15%
            }

.projects .projects_infoWrapper .projects_gallery .project_info-nav p{
                    color: var(--color_white);
                    font-size: 1.6rem;
                }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows{
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   flex-direction: column;
                   width: 2rem
                }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i{
                        color: var(--color_white);
                        position: relative;
                        font-size: 1.4rem;
                        cursor: pointer;
                        font-weight: bold;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i:first-child{
                        transform: rotate(180deg);
                        padding-top: .1rem;
                    }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i:last-child{
                        padding-top: .1rem;
                    }

.projects .projects_infoWrapper .projects_gallery .project_info-nav .project_info-arrows i:first-child::after{
                        content: "";
                        top: 0;
                        height: .1rem;
                        position: absolute;
                        display: flex;
                        width: 100%;
                        background-color: var(--color_white);
                    }

.projects .projects_infoWrapper .projects_gallery figure{
                height: 40rem;
                width: 85%;
                border: .2rem solid var(--color_white);
                display: flex;
                justify-content: center;
                align-items: flex-end
            }

.projects .projects_infoWrapper .projects_gallery figure .project_slideshow{
                    margin-bottom: calc(50% - 10rem);
                    height: 20rem;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: column;
                    overflow: hidden
                }

.projects .projects_infoWrapper .projects_gallery figure .project_slideshow .project_slideshowWrapper-images{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-direction: column
                   }

.projects .projects_infoWrapper .projects_gallery figure .project_slideshow .project_slideshowWrapper-images img{
                           height: 20rem;
                           width: 25rem;
                           object-fit: cover;
                       }

.projects .projects_infoWrapper .projects_info{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column
        }

.projects .projects_infoWrapper .projects_info h3{
                color: var(--color_white);
                font-size: 3rem;
                margin-bottom: 4rem;
                position: relative;
            }

.projects .projects_infoWrapper .projects_info h3::before{
                content: "";
                position: absolute;
                margin-bottom: -1rem;
                left: 0;
                bottom: 0;
                right: 50%;
                height: .1rem;
                background-color: var(--color_white);
            }

.projects .projects_infoWrapper .projects_info p{
                color: var(--color_white);
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }

.projects .projects_infoWrapper .projects_info a{
  color: var(--color_white);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--color_brand1);
  color: var(--color_brand1);
  font-size: 1.6rem;
  font-weight: bold;
            }

/* Exlusive content */

.exclusive_content {
	display: flex;
	justify-content: space-between;
	background-color: var(--color_white);
	padding: 10rem 0
}

.exclusive_content .exclusive_content_leftWrapper {
		width: 70%
	}

.exclusive_content .exclusive_content_leftWrapper h2 {
			font-size: 2.5rem;
			margin-bottom: 1em;
		}

.exclusive_content .exclusive_content_leftWrapper p {
			font-size: 1.4rem;
			margin-bottom: 2rem;
		}

.exclusive_content .exclusive_content_leftWrapper a {
			display: inline-flex;
  color: var(--color_white);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--color_brand1);
  color: var(--color_brand1);
  font-size: 1.6rem;
  font-weight: bold;
		}

.exclusive_content img {
		width: 25%;
	}

.exclusive_container {
	padding: 0 10%;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	flex-shrink: inherit;
	width: 100%;
	height: 100%;
}

/* Why choose us? */

.text_center {
	align-items: center;
}

.values_title_container {
	margin-bottom: 4rem;
}

.values_itemsWrapper {
	display: grid;
	grid-template: 'a b' 'c d' ' f g';
	grid-gap: 4rem;
}

.value_icon {
	font-size: 5rem;
}

.value_title {
	font-size: 1.6rem;
	margin: 1rem 0rem;
}

.value_body {
	font-size: 1.2rem;
	text-align: start;
}

/* Testimonials */

/* News */

/* Newsletter */

.newsletter {
	width: 100%;
	height: 50vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.newsletter_container {
	align-items: center;
}

.newsletter_title_container {
	height: 30%;
}

.newsletter_title {
	color: white;
	font-size: 3.5rem;
}

.newsletter_form_container {
	height: 40%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.newsletter_form {
	width: 100%;
}

.newsletter_emailInput {
	padding: 0.8rem 1.5rem;
	border: none;
	font-size: 2rem;
	width: 60%;
}

.newsletter_btn {
	border: none;
	background-color: var(--color_brand1);
	color: white;
	display: inline-block;
	font-weight: normal;
	width: 40%;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
}

.simple_advice {
	color: white;
	font-size: 1.4rem;
	margin-top: 1rem;
}

/* Conctact */

#Contact {
	background-color: white;
}

.contact_container {
	align-items: flex-start;
}

.container_item {
	width: 100%;
	padding: 2rem;
}

.contact_title {
	text-align: left;
}

.rectangle {
	width: 15rem;
	height: 1rem;
	margin-bottom: 1rem;
	background-color: var(--color_brand1);
}

.contact_subtitle {
	text-align: left;
}

.contact_form {
	display: flex;
	flex-direction: column;
}

.form_item {
	margin: 1rem 0rem;
	border: 1px solid black;
}

.field {
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	padding: 1rem;
	margin: 1rem 0rem;
	width: 100%;
	resize: none;
}

.form_btn {
	border: none;
	background-color: var(--color_brand1);
	color: white;
	display: inline-block;
	letter-spacing: 0.2rem;
	font-weight: normal;
	padding: 0.8rem 1.5rem;
	font-size: 2rem;
	width: 100%;
}

/* Maps */

.map {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 80vh
}

.map .map_nodeWrapper {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;
		position: absolute
	}

.map .map_nodeWrapper iframe {
			display: inline;
			width: 100%;
			height: 80vh;
		}

.map .map_infoWrapper {
		width: 100%;
		height: 100%;
		background-color: var(--color_opacity);
		z-index: 1;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
		transition: 450ms all
	}

.map .map_infoWrapper .map_iconItem {
			width: 6.5rem;
			height: 6.5rem;
			background-color: var(--color_white);
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(45deg) translate(-2rem, -2rem)
		}

.map .map_infoWrapper .map_iconItem i {
				color: var(--color_grayScale5);
				font-size: 3rem;
				transform: rotate(-45deg);
			}

.map .map_infoWrapper p {
			display: inline-block;
			font-size: 1.8rem;
			color: var(--color_white);
		}

.map .map_infoWrapper .map_infoItem {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 1.8rem;
			color: var(--color_white);
		}

.maps_container {
	padding: 0 10%;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	flex-shrink: inherit;
	width: 100%;
	height: 100%;
}

/* Footer */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--color_grayScale5);
	padding: 10rem 0
}

.footer img {
		width: 17.5rem;
		margin-bottom: 2rem;
	}

.footer .footer_icons {
		display: flex;
		justify-content: space-around;
		width: 25%;
		margin: 1rem 0;
		flex-wrap: wrap
	}

.footer .footer_icons .footer_iconItem {
			width: 3.2rem;
			height: 3.2rem;
			background-color: var(--color_white);
			transform: rotate(-45deg);
			transition: 450ms all
		}

.footer .footer_icons .footer_iconItem a {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none
			}

.footer .footer_icons .footer_iconItem a i {
					font-size: 1.6rem;
					color: var(--color_grayScale5);
					transform: rotate(45deg);
				}

.footer .footer_icons .footer_iconItem:hover {
			background-color: var(--color_brand1)
		}

.footer .footer_icons .footer_iconItem:hover a i {
					color: var(--color_white);
				}

.footer .footer_nav {
		width: 40%;
		margin-bottom: 2rem
	}

.footer .footer_nav ul {
			padding: 0;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap
		}

.footer .footer_nav ul li {
				list-style: none
			}

.footer .footer_nav ul li a {
					color: var(--color_white);
					text-decoration: none;
					font-size: 1.4rem;
					transition: 450ms alls;
				}

.footer .footer_nav ul li a:hover {
					color: var(--color_brand1);
				}

.footer .footer_copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative
	}

.footer .footer_copyright p {
			color: var(--color_white);
			font-size: 1.6rem;
		}

.footer .footer_copyright p:first-child {
			text-transform: uppercase;
			margin: 2rem 0 1rem;
		}

.footer .footer_copyright p:last-child {
			font-weight: bold;
		}

.footer .footer_copyright:before {
		content: '';
		top: 0;
		width: 50%;
		background-color: var(--color_brand1);
		height: 0.2rem;
	}

.footer_container {
	padding: 0 10%;

	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	flex-shrink: inherit;

	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.container {
		width: 80%;
	}

	.section_title {
		font-size: 4rem;
	}

	.section_subtitle {
		font-size: 2.2rem;
	}
	.contentContainer {
		display: grid;
		grid-template: 'a b c';
	}
	.servicesMenu {
		grid-template: 'a b' 'c d';
		grid-gap: 4rem;
	}
		.exclusive_content .exclusive_content_leftWrapper {
			width: 100%;
		}
		.exclusive_content img {
			display: block;
			margin-left: 4rem;
		}
	.values_itemsWrapper {
		height: 70%;
		display: grid;
		grid-template: 'a b c' 'd f g';
		grid-gap: 4rem;
	}

	.value_icon {
		font-size: 8rem;
	}

	.value_title {
		font-size: 2.2rem;
		margin: 1rem 0rem;
	}

	.value_body {
		font-size: 1.6rem;
	}
	.newsletter_form {
		width: 80%;
	}

	.newsletter_btn {
		width: 30%;
	}
		.footer .footer_icons {
			width: 80%;
		}
		.footer .footer_nav {
			width: 80%;
		}
}

@media only screen and (max-width: 400px) {
	.glitch {
		font-size: 3em;
	}
}

@media (max-width: 767px){
        .header nav{
            position: fixed;
            z-index: 0;
            left: 0;
            right: 0;
            top: 0;
            transform: translateY(7rem);
            transition: 450ms all;
            background-color: var(--color_grayScale5);
            border-bottom: .1rem solid var(--color_grayScale4);
            height: 0rem;
            overflow: hidden
        }
            .header nav .nav{
                padding: 2rem 10%;
                flex-direction: column;
                margin: 0;
                justify-content: space-between;
                align-items: flex-start
            }

                .header nav .nav .navItem{
                    margin: 0;
                    width: 100%;
                    padding-bottom: 2rem
                }
                    .header nav .nav .navItem .link{
                        width: 100%;
                        position: relative;
                        font-size: 1.6rem;
                    }

                    .header nav .nav .navItem .glitch::after{
                        top: 0;
                        border: none;
                    }

                .header nav .nav .navItem:not(:last-child){
                    border-bottom: .1rem solid var(--color_grayScale4);
                }
                .header nav .nav .navItem:not(:first-child){
                    padding-top: 2rem;
                }
        .header .hamburger_bar{
            display: block;
            color: var(--color_white);
            font-size: 3rem;
            position: fixed;
            right: 10%;
            top: 0;
            line-height: 7rem;
            z-index: 9999;
            cursor: pointer;
        }
		.exclusive_content .exclusive_content_leftWrapper {
			width: 100%;
		}
		.exclusive_content img {
			display: none;
		}
		.footer .footer_icons {
			width: 80%;
		}
		.footer .footer_nav {
			width: 80%;
		}    
}

@media (min-width: 1024px) {
	.servicesMenu {
		grid-template: 'a b c d';
		grid-gap: 6rem;
	}

	.serviceIcon {
		font-size: 8rem;
	}

	.service_title {
		font-size: 3rem;
	}
}

@media (max-width: 479px) {
		.footer .footer_icons {
			width: 100%;
		}
		.footer .footer_nav {
			width: 100%;
		}
}

